header {background: #0047AB;
	position: relative;
       }
p {font-family: Tahoma;
   font-size: 12pt;
   color: #000000;}
ul {font-family: Tahoma;
    font-size: 12pt;
    color: #000000;
    padding-left:0;}
a {font-family: Tahoma;
   font-size: 12pt;}
h1 {font-family: Verdana;
    font-size: 30pt;
    color: #000000;}
h2 {font-family: Verdana;
    font-size: 16pt;
    color: #000000;}
body {background-color: #80e5ff;
      text-align: center;}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomLeft {
    text-align: left;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
.margin {margin-left: 20px;
	 margin-right: 20px;
	text-indent: 48px;}
.noIndentMargin {margin-left: 20px;
		 margin-right: 20px;}
.noSpace {margin: 0px;
	  padding: 0px;
	 }

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none
}

.nav-links ul li p{
    color: #fff;
    cursor: default;
    margin-top: 0;
    margin-bottom: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0047AB;
    min-width: 50px;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    white-space: nowrap;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.uncenter {
    text-align: left
}
