header {background: #1abc9c;
       }
p {font-family: Tahoma;
   font-size: 12pt;
   color: #000000;}
ul {font-family: Tahoma;
    font-size: 12pt;
    color: #000000;
    padding-left:0;}
a {font-family: Tahoma;
   font-size: 12pt;}
h1 {font-family: Verdana;
    font-size: 30pt;
    color: #000000;}
h2 {font-family: Verdana;
    font-size: 16pt;
    color: #000000;}
body {background-color: #80e5ff;
      text-align: center;}
.bottomLeft {
    text-align: left;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
.margin {margin-left: 20px;
	 margin-right: 20px;
	text-indent: 48px;}
.noIndentMargin {margin-left: 20px;
		 margin-right: 20px;}
