
p {font-family: Tahoma;
   font-size: 24pt;
   color: #000000;}
ul {font-family: Tahoma;
    font-size: 12pt;
    color: #000000;
    padding-left:0;}
a {font-family: Tahoma;
   font-size: 12pt;}
h1 {font-family: Verdana;
    font-size: 30pt;
    color: #000000;}
h2 {font-family: Verdana;
    font-size: 16pt;
    color: #000000;}
body {background-color: #80e5ff;
      text-align: center;}

.margin {margin-left: 75px;
	margin-right: 75px}
