p {font-family: Tahoma;
   font-size: 12pt;
   color: #000000;}
ul {font-family: Tahoma;
    font-size: 12pt;
    color: #000000;
    padding-left:0;}
dl {font-family: Tahoma;
    font-size: 12pt;
    color: #000000;
    padding-left:0;}
a {font-family: Tahoma;
   font-size: 12pt;}
h1 {font-family: Verdana;
    font-size: 30pt;
    color: #000000;}
h2 {font-family: Verdana;
    font-size: 16pt;
    color: #000000;}
h3 {font-family: Verdana;
    font-size: 14pt;
    color: #000000;
    text-indent: 0px !important;}
body {background-color: #80e5ff;
      text-align: left;}
.margin {margin: 0px 20px;
	text-indent: 48px;}
.noIndentMargin {margin: 0px 20px;}
.hangingIndent {margin-left: 164px ;
		text-indent: -144px;}
.bulletPadding {padding-left: 40px;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}
.centerText {
    text-align: center !important;
}
.centerImage {
    display: flex;
    justify-content: center;
}
header {background: #0047AB;
	position: relative;
       }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none
}

.nav-links ul li p{
    color: #fff;
    cursor: default;
    margin-top: 0;
    margin-bottom: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0047AB;
    min-width: 50px;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    white-space: nowrap;
}


.dropdown:hover .dropdown-content {
    display: block;
}
